 
 
 
 
 // Ajustar para que a data table não sobreponha o menu css
 .drop {
	    height: 48px;
	    position: relative;
	    z-index: 1000;
	    }
    
.nav {
background: #FFF;
z-index: 200;
position: fixed;
width: 100%;
font-size: 1em;
overflow: auto;
}    
    

body { margin: 1% 0px 0px 0px; }
h4 {
	
	background-color:#0195CD;
	/*Efeito degradÍ - CSS3*/
	/*background:-moz-linear-gradient(top,#9CBF67, #C7BE9B);
	background:-webkit-linear-gradient(top,#9CBF67, #C7BE9B);
	/*Bordas arrendodadas - CSS3*/
	
	padding-top:5px;
	padding-left:0px;
	padding-bottom:5px;
	padding-right:0px;
	color:white;
	text-align:center;
}

h1{
	
	background-color: #0195CD;
	
}

tr{
	
	    text-align:rigth; 
	
}



nav ul {
	list-style:none;
	padding-left:0;
}





//Menu

/* CSS commum ao menu horizontal e vertical */
.site-navigation > .menu {
	overflow:hidden;
}
.site-navigation > .menu li a {
	padding:5px 15px;
	text-align:center;
	display:block;
	background-color:#0195CD;
	color:white;
	text-decoration: none;
}
.site-navigation > .menu > li a:hover, 
.site-navigation > .menu > li.active a, 
.site-navigation > .menu > li a.sub:hover {
	color:#fff;
	background-color:#00BFFF;
}
.site-navigation > .menu .sub-menu {
	margin:0;
	padding:0;
	display:none;
}
.site-navigation > .menu .sub-menu li {
	float:none;
	list-style-type:none;
	border-bottom: 1px solid #0195CD7;
}
/* Menu Horizontal */
.site-navigation > .horizontal {
	width:100%;
}
.site-navigation > .horizontal > li {
	float:left;
	list-style-type:none;
	border-left: 1px solid #99d0c7;
}
.site-navigation > .horizontal > li a.sub {
	background:#0195CD url(modulos/2.01.navigation_horizontal-dropdown/img/seta.png) no-repeat scroll 95% 17px;
}
.site-navigation > .horizontal > li > a.sub:hover {	
	background-position:95% -9px;
}
.site-navigation > .horizontal > li:hover > .sub-menu {
	display:block;
}
.site-navigation > .horizontal .sub-menu {
	position:absolute;
}

---

body {
   background-color: #333;  
   color: #999;
   font: 12px/1.4em Arial,sans-serif;
}
#wrap {
   margin: 10px auto;        
   background: #666;
   padding: 10px;
   width: 700px;
}
#header {
   background-color: #666;
   color: #FFF;
}
#logo {
   font-size: 30px;  
   line-height: 40px;    
   padding: 5px;
}
#navWrap {
   height: 30px;
}
#nav {
   padding: 5px;
   background: #999;    
}
#nav ul {
   margin: 0;
   padding: 0;    
}
#nav li {
   float: left;
   padding: 3px 8px;
   background-color: #FFF;
   margin: 0 10px 0 0;
   color: #F00;
   list-style-type: none;
}
#nav li a {
   color: #F00;  
   text-decoration: none;    
}
#nav li a:hover {
   text-decoration: underline;   
}
br.clearLeft {
   clear: left;        
}​



